.f-product {
    max-width: 44.5rem;
    position: relative;
    z-index: 3;
}

.f-product__header {
    margin-bottom: 3rem;
}

.f-product__suptitle {
    font-size: 1.2rem;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
}

.f-product__title {
    display: inline-block;
    padding: .5rem 1rem .5rem 0;
    font-family: "Titillium Web", sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.2;
    color: $black;

    background-color: $green;
}

.f-product__text {
    padding: 1rem 1rem 1rem 0;
    margin-bottom: 4rem;

    font-size: 1.4rem;
    font-weight: 700;
    color: $white;
    line-height: 1.7;

    background-color: $green;
}

.f-product__btn {
    font-size: 1.2rem;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
    text-decoration: underline;

    transition: all .2s linear;

    &:hover {
        text-decoration: none;
    }
}