.filter {
    margin: 5rem 0 7rem;
    padding-bottom: 2rem;

    border-bottom: 1px solid #e9e9e9;
}

.filter__nav-item{
    font-size: 1.1rem;
    text-transform: uppercase;
    color: $dark_gray;

    &:hover {
        text-decoration: underline;
    }

    &.active {
        color: #b5d9cc;
    }
}

.filter__nav-item + .filter__nav-item {
    margin-left: 1rem;

    @include media-breakpoint-down(xs) {
        margin-left: .8rem;
    }
}