.nav {
    margin: 2.5rem 0;

    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.nav__link {
    margin: 0 1rem;

    color: $dark_gray;
    letter-spacing: 2px;

    &:hover {
        text-decoration: underline;
    }

    &.active {
        text-decoration: underline;
        color: #b0decc;
    }
}