.slider {
    display: flex;
    align-items: center;
    min-height: 575px;

    background-color: #ade1c5;

    @include media-breakpoint-down(xs) {
        min-height: 400px;
    }
}

.slider__item {
    max-width: 750px;
    margin: 0 auto;
}

.slider__subtitle {
    font-size: 2.3rem;
    font-weight: 100;
    text-transform: uppercase;
    color: $black;
    line-height: 1.1;

    span {
        font-family: "Alex Brush", cursive;
        text-transform: none;
        font-size: 7.3rem;
    }

    @include media-breakpoint-down(xs) {
        font-size: 1.5rem;

        span {
            font-size: 5rem;
        }
    }
}

.slider__title {
    margin-bottom: 3rem;

    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
    font-size: 7.2rem;
    line-height: 1;

    sup {
        font-weight: 100;
        font-size: 2.4rem;

        position: relative;
        top: -8px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 5rem;

        sup {
            font-size: 1.5rem;
            padding-right: 1rem;
        }
    }
}

.slider__link {
    font-size: 1.6rem;
    font-weight: 700;
    color: $black;
    text-transform: uppercase;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    @include media-breakpoint-down(xs) {
        font-size: 1.2rem;
    }
}

