<div class="benefits">
    <div class="benefits__item">
        <div class="benefits__icon">
            <img class="img  m-auto" src="assets/img/benefits/delivery.png" alt="delivery">
        </div>
        <h4 class="benefits__title">Fast Delivery</h4>
        <div class="benefits__text">
            <p>
                Same day delivery as soon as possible
            </p>
        </div>
    </div>
    <div class="benefits__item">
        <div class="benefits__icon">
            <img class="img  m-auto" src="assets/img/benefits/discount.png" alt="discount">
        </div>
        <h4 class="benefits__title">Special Discount</h4>
        <div class="benefits__text">
            <p>
                Get attractive offers day by day
            </p>
        </div>
    </div>
    <div class="benefits__item">
        <div class="benefits__icon">
            <img class="img  m-auto" src="assets/img/benefits/secure.png" alt="secure">
        </div>
        <h4 class="benefits__title">Secure Checkout</h4>
        <div class="benefits__text">
            <p>
                Fully secured SSL checkout technology
            </p>
        </div>
    </div>
    <div class="benefits__item">
        <div class="benefits__icon">
            <img class="img  m-auto" src="assets/img/benefits/money.png" alt="money">
        </div>
        <h4 class="benefits__title">Money Returns</h4>
        <div class="benefits__text">
            <p>
                100% Money back guarntee
            </p>
        </div>
    </div>
</div>