@import "vars";


/* Default styles */
html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



/* Bootstrap */

/* Blocks */


/* Helpers */




